
    <% include partials/header %>
    <div class="background-image"></div>
    
    <div id="functions">
        <section class="container">
            <h1>Add User</h1>
            <h2><a href="/register"><i class="fas fa-user-plus fa-4x"></i></a></h2>
        </section>
        <section class="container">
            <h1>Reset User</h1>
            <h2><a href="#"><i class="fas fa-user-cog fa-4x"></i></a></h2>
        </section>
    </div>
    
    
<% include partials/footer %>