
    <% include partials/header %>
 
    <div id="graphs">
        <canvas class="chart" id="doughnut-chart" width="800" height="450"></canvas>         
        <canvas class="chart" id="bar-chart-grouped" width="800" height="450"></canvas>
        <canvas class="chart" id="bar-chart" width="800" height="450"></canvas> 

        <canvas class="chart" id="polar-chart" width="800" height="450"></canvas>  
        <!-- <canvas class="chart" id="pie-chart" width="800" height="450"></canvas> -->
    </div>
    
    
<% include partials/footer %>