
        <% include partials/header %>
        <h2 class="headerLabel">Process Timesheets</h2>
        <div class="shiftMonth">
            <button class="masterTooltip" title="Previous Month" id="previous" >Previous</button>
            <input type="month" name="" id="inputMonth">  
            <button class="masterTooltip" id="next" title="Previous Month">Next</button>
        </div>
        <div class="countLabelDiv" >
            <label class="countLabel" for="count">Test</label>
        </div>
        <div class="issuesLabelDiv" >
            <label class="duplicateLabel" for="duplicate">Test</label>
            <label class="over24hrsLabel" for="over24hrs">Test</label>
            <label class="overlapsLabel" for="overlaps">Test</label>
            <label class="longShiftsLabel" for="longShifts">Test</label>
        </div>

        <div class="activityCheckbox">
            <div id="activity">
                <input type="hidden" name="activeOrNot" class="processedOrNot" value="true" >
                <input type="checkbox" name="processedOrNot" id="processedOrNot"><span class="checkboxtext" >Un-Processed Timesheets Selected</span>
            </div>
        </div>
      

        <div id="search">    
            <form id="searchForm" action="/carer/:search" method="get">
                <input id="searchInput" type="text" placeholder="Search by Carer's Last Name" value="">
            </form>
            <button class="searchShifts">Search</button>
            <div id="radioDiv">
                <input type="hidden" name="searchByRadio" id="searchByRadio">
                <span class="searchSpan" >Search by Carer</span><input type="radio" name="carerRadio" id="carerRadio">
                <span class="searchSpan" >Search by Client</span>  <input type="radio" name="clientRadio" id="clientRadio">
                <span class="searchSpan" >Search by Employee Number</span><input type="radio" name="clientRadio" id="employeeRadio">
            </div> 
            <div>
                <button class="processWageFile" id="processWages" >Create wage file</button>
                <a class="processWageFile" id="openDownLoadFile" href="#" target="_blank">Download File</a>
            </div>
             
        </div> 
        
        
        <div>
            <ul id="timesheetData" >    
            </ul>
        </div>
        


        
    </body>
</html>
